<style scoped>
    @import url(/app/pages/details/details.css);
    @import url(https://fonts.googleapis.com/css?family=Lato:400,900);
</style>
<div class="details-page">
    <section class="floating-menu">
        <div class="title">Get this title</div>
        <div class="get-this-book"></div>
        <div class="notes">
            <sup>*</sup>Our website is Section 508 Level A accessible.
        </div>
        <div class="cta">
            <p class="interested-text">
                Using this book, or interested in adopting it for your
                course?
            </p>
            <a href="/adoption?{{title}}" class="btn">Adopt This Book</a>
            <a href="/interest?{{title}}" class="secondary btn">get interested</a>
        </div>
    </section>
    <div class="text-content">
        <section class="block book-info">
            <div class="info-row">
                <img class="book-cover" />
                <section class="details">
                    <h1 class="title"></h1>
                    <div class="tabs">
                        <a class="tab"><span>Table of Contents</span></a>
                        <a href="#resources" class="tab"><span>Resources</span></a>
                        <a href="#details" class="tab"><span>Details</span></a>
                        <a href="#errata" class="tab"><span>Errata</span></a>
                    </div>
                    <p class="blurb"></p>
                    <h2>Senior Contributing Authors</h2>
                    <div id="top-authors">
                    </div>
                    <div class="links">
                        <a class="go-to" href="#details">See all authors</a>
                    </div>
                </section>
            </div>
        </section>
        <div class="block endorsement-container">
            <blockquote class="endorsement">
                <div id="endorsement"></div>
                <footer class="attribution">
                    &mdash; <span id="attribution"></span><br>
                    <span id="attribution-school"></span>
                </footer>
            </blockquote>
        </div>
        <section id="resources" class="resources block">
            <h1>Resources</h1>
            <p>
                Access doesn't end with the book. OpenStax has compiled additional
                resources for both instructors and students, from online homework tools and
                interactive study guides, to instructor-only resources that coincide with
                Physics.
            </p>
            <h2>OpenStax Instructor Resources</h2>
            <p>
                Get started with free resources to support your course. (Verified instructor
                account required.)
            </p>
            <div id="instructor-resources" class="resource-row">
            </div>
            <h2>Ally Resources</h2>
            <p>Learn more about our <a href="/allies">allies</a>.</p>
            <h3>Online Homework</h3>
            <div class="resource-row">
                {{#each onlineHomework}}
                    <div class="blurb">
                        <img src="{{imageUrl}}" />
                        <h4>{{vendor}}</h4>
                        <p class="text">{{blurb}}</p>
                    </div>
                {{/each}}
            </div>
            <h3>Adaptive Courseware</h3>
            <div class="resource-row">
                {{#each adaptiveCourseware}}
                    <div class="blurb">
                        <img src="{{imageUrl}}" />
                        <h4>{{vendor}}</h4>
                        <p class="text">{{blurb}}</p>
                    </div>
                {{/each}}
            </div>
            <h2>Student Resources</h2>
            <div id="student-resources" class="resource-row">
            </div>
            <div class="cta">
                <a class="btn">Learn how you can tell your instructor about OpenStax!</a>
            </div>
        </section>
        <div class="block">
            <section id="details">
                <h1>Details</h1>
                <h2>Authors</h2>
                <div id="all-authors">
                </div>
            </section>
            <section id="errata" class="errata">
                <h1>Errata</h1>
                <p>
                    All OpenStax textbooks undergo a rigorous review process. However, like
                    any professional-grade textbook, errors sometimes occur. The good part
                    is, since our books are web-based, we can make updates periodically. If
                    you have a correction to suggest, submit it here. We'll review your
                    suggestion and make necessary changes.
                </p>
                <div class="links">
                    <a class="go-to">Errata list</a>
                    <a class="go-to">Suggest a correction</a>
                </div>
            </section>
        </div>
    </div>
</div>
