<div class="field">
  <label for="{{id}}">{{label}}
      {{#if required}}
        <span class="required-marker"></span>
      {{/if}}
  <label>
  <br />
  <input id="{{id}}" name="{{name}}" size="{{size}}" type="text">
</div>
