<div class="img"></div>
<div class="content">
    <h2><a href="/blog/{{articleSlug}}">{{title}}</a></h2>
    <div class="body">{{{body}}}</div>
    <div class="meta">
        <p><a href="/author" class="author">{{author}}</a>  &nbsp;|&nbsp;  <span class="date">{{date}}</span></p>
    </div>
</div>
