{{#if logoUrl}}<div class="logo"><img src="{{logoUrl}}" /></div>{{/if}}
<div class="text">
    <h2>{{name}}</h2>
    {{{blurb}}}
    {{#each bookLinks}}
    <a href="{{url}}" data-subject="{{subject}}">{{title}}</a>
    {{/each}}
</div>
