<div class="logo">{{#if logoUrl}}<img src="{{logoUrl}}" />{{/if}}</div>
<div class="text">
    <h2>{{name}}</h2>
    {{{blurb}}}
    {{#each bookLinks}}
    <a href="{{url}}" data-subject="{{subject}}">{{title}}</a>
    {{/each}}
</div>
