<img src="{{url}}" />
<div class="name">{{name}}</div>
<div class="title">{{title}}</div>
<div class="details">
    <div class="name">{{name}}</div>
    <div class="title">{{title}}</div>
    <div class="description">{{{description}}}</div>
</div>
