<div class="picture-area text-{{textColor}} bg-{{bgColor}}">
    {{#if url}}<img src="{{url}}" />{{/if}}
    <div class="name">{{name}}</div>
</div>
<div class="details">
    <div class="name">{{name}}</div>
    <div class="title">{{title}}</div>
    <div class="description">{{{description}}}</div>
</div>
