<style scoped>
    @import url(/app/components/get-this-title/get-this-title.css);
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
</style>
<div class="get-this-title">
    <div class="submenu">
    </div>
    <div class="options">
        {{#if webviewLink}}
            <div class="option">
                <a href="{{webviewLink}}">
                    <span class="fa fa-laptop"></span>
                    View online
                </a>
            </div>
        {{/if}}
        {{#if conceptCoachLink}}
            <div class="option">
                <a href="{{conceptCoachLink}}">
                    <span class="fa fa-mortar-board"></span>
                    View Concept Coach version online
                </a>
            </div>
        {{/if}}
        {{#if pdfLink}}
            <div class="option">
                <a href="{{pdfLink}}" class="show-pdf-submenu">
                    <span class="fa fa-cloud-download"></span>
                    Download a PDF
                </a>
            </div>
        {{/if}}
        {{#if printLink}}
            <div class="option">
                <a href="{{printLink}}" class="show-print-submenu">
                    <span class="fa fa-book"></span>
                    Order a print copy
                </a>
            </div>
        {{/if}}
        {{#if bookshareLink}}
        <div class="option">
            <a href="{{bookshareLink}}">
                <span class="fa fa-volume-up"></span>
                Bookshare
            </a>
        </div>
        {{/if}}
        {{#if ibookLink}}
            <div class="option">
                <a href="{{ibookLink}}">
                    <span class="fa fa-tablet"></span>
                    iBook
                </a>
            </div>
        {{/if}}
    </div>
</div>
