{{#if imageUrl}}<div class="image" style="background-image: url({{imageUrl}}){{#if height}}; height:{{height}}px{{/if}}"></div>{{/if}}
<div class="quote{{#if colorScheme}} {{colorScheme}}{{/if}}">
    <blockquote>{{{quoteHtml}}}
        {{#if attribution}}
        <div class="attribution">&mdash; {{{attribution}}}</div>
        {{/if}}
    </blockquote>
    {{#if overlay}}
    <img class="overlay" src="{{overlay}}" />
    {{/if}}
    {{#if linkText}}
    <a class="btn btn-orange" href="{{linkUrl}}">{{linkText}}</a>
    {{/if}}
</div>
