<div class="text-content subhead">
    <h1>Instructor Verification</h1>
    <p>
        A verified instructor account at OpenStax gives you access to all
        instructor-only resources for our books, like test banks, answer
        guides, and more. We manually verify all instructor account requests,
        so you’ll hear back in three to four business days about your
        approval. Fill out and the information below to get started!
    </p>
</div>

<form accept-charset="UTF-8" class="form"
 action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="post">
    <div class="text-content">
        <div>
            <input name="utf8" type="hidden" value="✓" />
            <!-- This is our organization id -->
            <input type=hidden name="oid" value="00DU0000000Kwch">
            <input type=hidden name="retURL" value="{{urlOrigin}}/faculty-confirmation">
            <input type=hidden name="lead_source" value="OSC Faculty">
            <input type=hidden name="user_id" />
            <input type=hidden name="OS_Accounts_ID__c" />
        </div>

        <div class="labeled-inputs row top-of-form">
            <div class="col">
                <label>
                    First name
                    <input name="first_name" type="text" required />
                </label>
                <label>
                    Last name
                    <input name="last_name" type="text" required />
                </label>
                <label>
                    <span>Preferred Email</span>
                    <input name="email" pattern="[^@]+@([^@\.]+\.)+[^@\.]+" type="text" required />
                </label>
            </div>

            <div class="col">
                <label>
                    School
                    <input name="company" type="text" required />
                </label>
                <label>
                    Phone
                    <input name="phone" type="text" required />
                </label>
            </div>
        </div>
    </div>

    <div class="wrapper">
        {{{strips}}}
        <div class="text-content labeled-inputs row book-info">
            <div class="col">
                <label>
                    College website URL
                    <input name="website" type="text" required />
                </label>
                <label>
                    Official institutional email address
                    <input name="00NU0000005oVQV" pattern="[^@]+@([^@\.]+\.)+[^@\.]+" type="text" required />
                    <small>A verification email will be sent to this address</small>
                </label>
                <label>
                    <span>Are you already using OpenStax in your courses?</span>
                    <select name="00NU00000055spw">
                    </select>
                </label>
            </div>

            <div class="col">
                <label>
                    Number of students this semester
                    <input name="00NU00000052VId" type="number" min="1" required />
                </label>
                <label>Your OpenStax book:
                    <select name="00NU00000053nzR" required>
                        <option value="" disabled selected></option>
                        {{#each titles}}
                            {{#if this.text}}
                                <option value="{{this.value}}">{{this.text}}</option>
                            {{else}}
                                <option value="{{this}}">{{this}}</option>
                            {{/if}}
                        {{/each}}
                    </select>
                </label>
                <div class="cta">
                    <input type="submit" value="Submit" role="button" class="btn"/>
                </div>
            </div>
        </div>
    </div>
</form>
