<style scoped>
    @import url(/app/pages/adoption/adoption.css);
</style>
<div class="subhead text-content">
    <h1>Let us know you’re using OpenStax</h1>
    <p>Our books and their accompanying resources are yours to use, free.</p>
    <p>Help us continue to make high-quality educational materials accessible by
        letting us know you’ve adopted! Our future grant funding is based on
        faculty adoptions and the number of students we impact. </p>
    <p>Not using OpenStax yet? Go to our OpenStax <a href="/interest">interest
        form</a> and we’ll send you the information you need.</p>
</div>
<form accept-charset="UTF-8" class="new_adoption form"
 action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="post">
    <div class="text-content">
        <div>
            <input name="utf8" type="hidden" value="✓" />
            <!-- This is our organization id -->
            <input type=hidden name="oid" value="00DU0000000Kwch">
            <input type=hidden name="retURL" value="{{urlOrigin}}/adoption-confirmation">
            <input type=hidden name="lead_source" value="OS Adoption Form">
        </div>
        <p class="instructions">
        To get started with an OpenStax book, fill out this form and paste the
            book URL in your syllabus.
        </p>
        <div class="labeled-inputs row top-of-form">
            <div class="col">
                <label>
                    <span>First name</span>
                    <input name="first_name" type="text" required />
                </label>
                <label>
                    <span>Last name</span>
                    <input name="last_name" type="text" required />
                </label>
                <label>
                    <span>School name</span>
                    <input name="company" type="text" required />
                </label>
            </div>
            <div class="col">
                <label>
                    <span>School url</span>
                    <input name="URL" type="text" required />
                </label>
                <label>
                    <span>Email address</span>
                    <input name="email" pattern="[^@]+@([^@\.]+\.)+[^@\.]+" type="text" required />
                </label>
                <label>
                    <span>Phone number</span>
                    <input name="phone" type="text" required />
                </label>
            </div>
        </div>
    </div>

<div class="wrapper">
    {{{strips}}}
    <div class="text-content labeled-inputs row book-info">
        <div id="primary-book" class="col">
            <label>Your OpenStax book:
                <select name="00NU00000053nzR" required>
                    {{#each titles}}
                        {{#if this.text}}
                            <option value="{{this.value}}">{{this.text}}</option>
                        {{else}}
                            <option value="{{this}}">{{this}}</option>
                        {{/if}}
                    {{/each}}
                </select>
            </label>
            <p>
                Don't see your book? Fill out our <a href="/interest">interest form</a>.
            </p>

            <label>How are you using this book?
                <select name="00NU00000055spw">
                    <option value="None" disabled selected></option>
                    <option value="Fully adopted">Fully adopted and using it as our main text.</option>
                    <option value="Recommending book as an option">Recommending the book as an option. The students purchase a different book.</option>
                </select>
            </label>

            <label>
                How many students are using this book in your courses each semester?
                <input name="00NU00000052VId" type="number" min=0 required />
            </label>

            <label>Which ally resources are you using with your book?
                <span class="select-instructions">You may select more than one.</span>
                <select multiple name="00NU0000005VmTu">
                     <option value="None" disabled selected>None</option>
                     <option value="Cerego">Cerego</option>
                     <option value="CogBooks">CogBooks</option>
                     <option value="Courseweaver">Courseweaver</option>
                     <option value="Expert TA">Expert TA</option>
                     <option value="Junction">Junction</option>
                     <option value="Lrnr">Lrnr</option>
                     <option value="Sapling Learning">Sapling Learning</option>
                     <option value="SimBio">SimBio</option>
                     <option value="WebAssign">WebAssign</option>
                     <option value="Wiley Plus">Wiley Plus</option>
                     <option value="XYZ Homework">XYZ Homework</option>
                     <option value="" data-other="other-ally">Other (specify below)</option>
                </select>
            </label>

            <label id="other-ally">Other
                <input name="00NU0000005Vls8" class="short" type="text"
                placeholder="Ally resources not listed above?">
            </label>

            <label>
                If there are other instructors in your department who will also be using this
                book, approximately how many students in your department will be using this
                book per semester?
                <input name="00NU00000055sq1" type="number" min=0 />
            </label>

        </div>

        <div class="col">
            <label class="question">
                Which of our <a href="/allies">allies</a> would you like to give
                permission to contact you about additional resources to support
                our books?
                <span class="select-instructions">You may select more than one.</span>
                <select multiple name="00NU00000055spm">
                    <option value="None" disabled selected>None</option>
                    <option value="Online homework allies">Online homework allies</option>
                    <option value="Adaptive courseware allies">Adaptive courseware allies</option>
                    <option value="Customization tool allies">Customization tool allies</option>
                </select>
            </label>

            <label class="question">Are you interested in having your OpenStax experience featured on our website, social media, and/or emails?
                <select name="00NU00000055sq6">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </label>

            <label class="question">
                May we contact you about opportunities to participate in future pilots or research studies?
                <select name="00NU00000055sqB">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </label>

            <!-- Doesn't look like Salesforce can store this information
            <p>
                Do you know of any other instructors using OpenStax College books? If so, would
                you be willing to provide their contact information below?
            </p>
            <fieldset class="labeled-inputs">
                <label>
                    <span>First name</span>
                    <input name="adoption[hint_first_name]" type="text">
                </label>
                <label>
                    <span>Last name</span>
                    <input name="adoption[hint_last_name]" type="text">
                </label>
                <label>
                    <span>Email address</span>
                    <input name="adoption[hint_email_address]" pattern="[^@]+@([^@\.]+\.)+[^@\.]+" type="text">
                </label>
                <label>
                    <span>Phone number</span>
                    <input name="adoption[hint_phone_number]" type="text">
                </label>
            </fieldset>
            -->

            <label>
                Any feedback you'd like to share with us?
                <textarea cols="50" name="00NU00000056Rls" rows="10"></textarea>
            </label>

            <div class="cta">
                <input name="commit" class="btn" type="submit" value="Submit" role="button" aria-disabled="false">
            </div>

        </div>
    </div>
</div>
</form>
