{{#if hasImage}}<div class="image"></div>{{/if}}
<div class="quote">
    <span class="title">{{titleText}}</span>
    <span class="blurb">{{{blurbHtml}}}</span>
    <a class="btn {{btnClass}}" href="{{linkUrl}}">{{linkText}}</a>
</div>
