<label>Title you are already using
<select name="00NU00000053nzR" required>
    {{#each bookTitles}}
        {{#if this.text}}
            <option value="{{this.value}}">{{this.text}}</option>
        {{else}}
            <option value="{{this}}">{{this}}</option>
        {{/if}}
    {{/each}}
</select>
